<footer class="bg-dark text-light mt-5 pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>About Aromix</h5>
        <p>Discover our art of fragrance with Aromix, where we deliver the finest selection of perfumes for your essence.</p>
      </div>
      <div class="col-md-3">
        <h5>Customer Service</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Contact Us</a></li>
          <li><a href="#" class="text-white-50">Shipping & Returns</a></li>
          <li><a href="#" class="text-white-50">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Our Story</h5>
        <p>Experience the essence of luxury with Aromix, designed to ignite your senses and desires.</p>
      </div>
      <div class="col-md-3">
        <h5>Legal Information</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Terms & Conditions</a></li>
          <li><a href="#" class="text-white-50">Cookie Policy</a></li>
          <li><a href="#" class="text-white-50">Accessibility</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center mt-4 small">© <%= new Date().getFullYear() %> Aromix. All rights reserved.</div>
  </div>
</footer>