<div class="bg-dark text-white p-3" style="width: 250px; height: 100vh;">
    <h4 class="mb-4">Aromix</h4>
    <ul class="nav flex-column">
        <li class="nav-item"><a href="/admin/dashboard" class="nav-link text-white sidebar-link"><i class="bi bi-speedometer2 me-2"></i> Dashboard</a></li>
        <li class="nav-item"><a href="/products/showProducts" class="nav-link text-white sidebar-link"><i class="bi bi-box-seam me-2"></i> Products</a></li>
        <li class="nav-item"><a href="/admin-users/show" class="nav-link text-white sidebar-link"><i class="bi bi-people me-2"></i> Customers</a></li>
        <li class="nav-item"><a href="/admin-order/admin-order-details" class="nav-link text-white sidebar-link"><i class="bi bi-basket me-2"></i> Orders</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white sidebar-link"><i class="bi bi-ticket-perforated me-2"></i> Coupons</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white sidebar-link"><i class="bi bi-images me-2"></i> Banner</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white sidebar-link"><i class="bi bi-stars me-2"></i> Offers</a></li>
        <li class="nav-item"><a href="/adminCategory/category" class="nav-link text-white sidebar-link"><i class="bi bi-tags me-2"></i> Category</a></li>
        <li class="nav-item"><a href="/admin/logout" class="nav-link text-white sidebar-link"><i class="bi bi-box-arrow-right me-2"></i> Logout</a></li>
    </ul>
</div>